<div class='content'>
<h1>Notifications</h1>
<% if @notifications.blank? %>
  <h4>You have no notifications<h4>
<% else %>
  <ul>
    <% @requests.each do |request| %>
    <li>
      <%= link_to "#{request.first_name + ' ' + request.last_name}",
                  user_path(request.id) %> sent you a friend request.
    </li>
    <% end %> 
<% end %>
</div>