<div class='content'>
    <h2><%= @friend.first_name + ' ' + @friend.last_name %></h2>
    <% if @friendship.blank? %>
      <button>Add Friend</button>
    <% else %>
      <h4>You are friends</h4>
    <% end %>
</div>